@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("/src/shared/assets/fonts/Ubuntu/Ubuntu-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("/src/shared/assets/fonts/Ubuntu/Ubuntu-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/src/shared/assets/fonts/NunitoSans/NunitoSans-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("/src/shared/assets/fonts/Rubik/Rubik-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/src/shared/assets/fonts/Rubik/Rubik-Regular.woff2") format("woff2");
}
