.map {
  margin-bottom: 50px;
  text-align: center;
  &__subtitle {
    padding: 8px 0 50px;
    line-height: var(--line-height-50);
    font-weight: var(--medium);
  }

  &__img {
    width: 100%;
    height: auto;
    max-width: 1060px;

    svg {
      width: 100%;
      height: auto;
    }
  }
}
